<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Regression Model for Compression Strength Prediction</title>

</head>
<body>
    <h1> Regression Model for Compression Strength Prediction </h1>
    <form action="/predict" method="post">
        Material Quantity: <input type="text" name="Material Quantity"><br>
        Additive Catalyst: <input type="text" name="Additive Catalyst"><br>
        Ash Component: <input type="text" name="Ash Component"><br>
        Water Mix: <input type="text" name="Water Mix"><br>
        Plasticizer: <input type="text" name="Plasticizer"><br>
        Moderate Aggregator: <input type="text" name="Moderate Aggregator"><br>
        Refined Aggregator: <input type="text" name="Refined Aggregator"><br>
        Formulation Duration: <input type="text" name="Formulation Duration"><br>


        <input type="submit" value="Predict Compression Strength">
    </form>
</body>
</html>
